/* As configurações resetam os estilos  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ecf0f1;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  cursor: pointer;
}
